@media (min-width: 500px) {
    /* header */
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .dogLogo{
        margin-left: 80%;
    }

    #hamb {
        display: none;
    }

    .hm a {
        display: block;
    }

    nav.hm {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* image */
    .bookImg {
        padding-top: 10px;
    }

    .bookD{
        margin-top: 50%;
        margin-left: 25%;
        height: 100px;
        width: 200px;
        font-size: 60px;
    }


    /* main */

    .imgDog {
        height: 200px;
        width: 300px;
        margin: 25px;
    }

    .imgDogD {
        margin: 5px;
    }

    /* footer */

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .logos {
        margin-left: 20%;
        margin-top: 15%;
    }

    .wheater {
        margin-left: 1px;
    }

}

@media (min-width: 1201px) {


    .imgDogD {
        margin-left: 30px;
    }
}