@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Roboto+Slab:wght@900&family=Roboto:ital,wght@1,900&family=Rubik:ital,wght@1,400;1,600&display=swap');

body {
    font-family: 'Roboto mono', 'Roboto slab', 'Roboto ital';
}

/* header */
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #14213D;
    margin: -10px -10px 0px -10px;
}

.dogLogo {
    height: 60px;
    width: 60px;
    margin-left: 25%;
    padding: 10px;
}

.fifisGroomingh2{
    color: azure;
}

#hamb {
    grid-column: 2/3;
    background-color: #14213D;
    color: azure;
    font-size: 2rem;
    border: 0;
    background-color: none;
    position: absolute;
    top: 0em;
    right: 1em;
    display: block;
    height: 8%;
    width: 10%;
}

#hamb::before {
    content: "☰";
}

#hamb.open::before {
    content: "X";
}

a {
    text-align: center;
    list-style: none;
}

nav a:hover {
    border: 1px solid #fff;
    background-color: #000000;
}

nav {
    background-color: #14213D;
    color: azure;
    margin: -10px;
}

.navbar {
    text-decoration: none;
    color: azure;
}

.hm a:hover {
    font-weight: 700;
}

.hm {
    display: none;
    flex-direction: column;
    list-style: none;
    color: azure;
}

.open {
    display: flex;
}

.hm a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: azure;
}

.open a {
    display: block;
}

main {
    padding: 20px;
}

.bookImage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.bookImg{
    height: 100%;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
}

.bookD {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: #FCA311;
    border: none;
    margin-top: 50%;
    margin-left: 30%;
    text-align: center;
    font-size: 30px;
}

.bookD:hover {
    background-color: #000000;
}

.bookA:hover {
    color: #FCA311;
}

.bookA{
    color: #000000;
    text-decoration: none;
}



/* main */

.imgDog {
    text-align: center;
    border: 10px solid #274c77;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    height: 300px;
    width: 400px;
    margin: 20px;
}

.imgDog:hover {
    opacity: .7;
    transform: scale(1.1);
}

.wheater {
    text-align: center;
    background-color: #274c77;
    color: azure;
    padding-bottom: 20px;
    margin-left: 20px;

}


/* footer */

footer {
    background-color: #14213D;
    margin: -10px;

    color: azure;
}

.contactInfo {
    text-align: center;
}

.logos {
    text-align: center;
}

.dataInfo {
    text-align: center;
}