@media (min-width: 500px) {
    /* header */
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .dogLogo{
        margin-left: 80%;
    }

    #hamb {
        display: none;
    }

    .hm a {
        display: block;
    }

    nav.hm {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* main */

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .formd{
        margin-bottom: 100px;
    }

    .cards {
        margin-top: 30%;
    }

    /* footer */

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .logos {
        margin-left: 20%;
        margin-top: 15%;
    }
}