@media (min-width: 500px) {

    header{
        display: grid;
        grid-template-columns: 50px 1fr 2fr 1fr 50px;
        grid-template-rows: 80px;
    }

    .logo {
        grid-column: 2/3;
        padding-left: 10%;
    }

    .darkMode {
        padding-left: 70%;
        padding-top: 3%;
    }

    #hamb {
        display: none;   
    }

    .hm a{
        display: block;
    }

    nav.hm {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .mainImg {
        width: 92%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10px;
    }

    .keynoteTickets{
        margin-top: 8%;
        height: 40%;
        width: 50%;
    }


     /* footer */

     footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .ytlLogo {
        margin-left: 22%;
        margin-top: 10%;
    }

    .dateInfo {
        margin-top: 10px;
    }
}