@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Roboto+Slab:wght@900&family=Roboto:ital,wght@1,900&family=Rubik:ital,wght@1,400;1,600&display=swap');

body {
    font-family: 'Roboto mono', 'Roboto slab', 'Roboto ital';
}

/* Header */

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    background-color: rgb(40, 40, 193);
    margin: -10px -10px 0px -10px;
}

.logo {
    height: 60px;
    width: 60px;
    padding: 10px;
}

.guatemala {
    color: azure;
    height: 2px;
}

.coc {
    color: azure;
}

.gcoc {
    text-align: center;
}

.darkMode {
    height: 50px;
    width: 50px;
    padding-top: 20px;
    padding-left: 20%;
}

#hamb {
    background-color: rgb(12, 12, 70);
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: azure;
    position: absolute;
    top: 0em;
    right: 1em;
    display: block;
    height: 8%;
    width: 10%;

}

#hamb::before {
    content: "☰";
}

#hamb.open::before {
    content: "X";
}

a {
    text-align: center;
    list-style: none;
}

nav a:hover {
    border: 1px solid #fff;
}


nav {
    background-color: rgb(40, 40, 193);
    color: azure;
    margin: -10px;
}

.navbar {
    text-decoration: none;
    color: azure;
}


.hm a:hover {
    font-weight: 700;
}

.hm {
    display: none;
    flex-direction: column;
    list-style: none;
    color: azure;
}

.open {
    display: flex;
}

.hm a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: azure;
}

.open a {
    display: block;
}





/* Footer */

footer {
    background-color: rgb(40, 40, 193);
    margin: -10px;
    color: azure;
}

.contactInfo {
    padding-left: 20px;
}

.cihg {
    padding-top: 10px;
}

.ytlLogo {
    margin-left: 28%;
}

.youtubeIcone {
    padding: 10px;
}

.twitterIcone {
    padding: 10px;
}

.linkedinIcone {
    padding: 10px;
}

.dateInfo {
    padding-left: 20px;
    padding-bottom: 20px;
}